doctype html
html
	head
		//- Page title
		title PLA Application
		
		//- CSS
		link(rel='stylesheet', href='/assets/libs/vendors/jquerymobile/jquery.mobile-1.4.2.css')
		link(rel='stylesheet', href='/assets/css/style.css')
		
		//-	Preload Scripts

	body

	
	//- Content
	block content
	
	//- Postload Scripts
	script(src='/assets/libs/vendors/jquery/jquery-1.11.0.js')
	script(src='/assets/libs/vendors/jquerymobile/jquery.mobile-1.4.2.js')
	
	